/* .container{
  background-color: rgb(118, 116, 116);
  margin-top: 100px;
  max-width: 450px;
  align-items: center;
  justify-content: center;
  align-content: center;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
} */
#particle canvas{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
.app.container{
  justify-content: center;
  align-items: center;
}
.container .container1{
  border: 2px solid #808080;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  padding: 10px;
  margin: 20px;
  margin-bottom: 20px;
}
.container1 .username{
  margin-bottom: 20px;
}
.container1 .password{
  margin-bottom: 10px;
}
.container1 .btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container1 p{
  color: rgb(202, 44, 44);
}
/* .container .password{
  margin-bottom: 10px;
}
.container .btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .btn button{
  color: aliceblue;
  background-color: rgb(176, 190, 190);
  border: none;
  font-size: large;
    padding: 10px;
}
.container .btn h2{
  color: blue;
  font-size: 20px;
} */